{% set title = 'Register your preferences for sharing patient health data' %}
{% block scripts %}

{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">
    <div class="local-header">
      <h1 class="local-header__title">{{title}}</h1>
      <div class="local-header__intro">
        <p>Prototype homepage for {{title}}.</p>
      </div>
    </div>
    <p><a title="Start Prototype G - {{ title }}" role="button" class="button" href="/G/01-overview">Start Prototype G</a></p>
    <p><a title="Prototype G Summary Page - {{ title }}" href="/G/index">Prototype G Summary Page</a></p>
    <h2>Latest Stable</h2>
    <p>
      <a title="Prototype F Stable - {{title}}" href="https://ndop-f.herokuapp.com/stable/">Prototype F Stable</a>
    </p>
    <h2>Recent Prototypes</h2>
    <ul class="link-list">
      <li>
        <a title="Prototype G - {{title}}" href="/g/">Prototype G</a>
      </li>
      <li>
        <a title="Prototype F Stable - {{title}}" href="https://ndop-f.herokuapp.com/stable/">Prototype F Stable</a>
      </li>
      <li>
        <a title="Prototype one-question - {{title}}" href="https://ndop-f.herokuapp.com/one-question/">Prototype one-question</a>
      </li>
      <li>
        <a title="Prototype F Toggle - {{title}}" href="https://ndop-f.herokuapp.com/f-toggle/">Prototype F Toggle</a>
      </li>
      <li>
        <a title="Prototype F BIT - {{title}}" href="https://ndop-f.herokuapp.com/bit/">Prototype bit</a>
      </li>
      <li><a title="Prototype F - {{title}}" href="https://ndop-f.herokuapp.com/F">Prototype F</a></li>
      <li>
        <a title="Prototype D - {{title}}" href="http://ndop.herokuapp.com/app/prototypes/prototype-d/index.html">Prototype D</a>
      </li>
      <li>
        <a title="Prototype E - {{title}}" href="http://ndop.herokuapp.com/app/prototypes/lab-5-changes/index.html">Prototype E</a>
      </li>
      <li><a title="Previous prototypes" href="http://ndop.herokuapp.com/index.html">Previous prototypes</a></li>
    </ul>
  </div>
</main>
{% endblock %}
