{% set title = 'Prototype G' %}
{% set PROTOTYPE_URL = 'v1'%}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">

  <nav aria-label="Breadcrumb">
    <ol class="list--breadcrumb">
      <li><a href="/">Index</a></li>
      <li>{{title}}</li>
    </ol>
  </nav>

    <div class="local-header">
      <h1 class="local-header__title">{{title}}</h1>
      <div class="local-header__intro">
        <div class="reading-width">
          <p>November 2017</p>
        </div>
      </div>
    </div>

    <p>This Prototype was created in response to the user labs that ran in November 2017.</p>
    <p>This prototype reduces the pages and content on the landing page. It alters the page names and content to better reflect the user behaviour seen in lab 6.</p>
    <p>
      The prototype also adds:
    </p>
    <ul>
      <li>
        Back to top button on landing page
      </li>
    </ul>
    <a role="button" class="button" href="/{{PROTOTYPE_URL}}/01-overview">Start Prototype</a>
    <hr>
    <h2 id="prototype-sections">Prototype sections</h2>
    <div class="grid-row">
      <div class="column--one-half">
        <h3>Pages</h3>
        <ol>
          <li>
            <a href="/{{PROTOTYPE_URL}}/01-overview">Overview</a>
          </li>
          <li>
            <a href="/{{PROTOTYPE_URL}}/02-who-uses-your-data">Who uses your data</a>
          </li>
          <li>
            <a href="/{{PROTOTYPE_URL}}/03-how-data-is-kept-secure">How data is kept secure</a>
          </li>
          <li>
            <a href="/{{PROTOTYPE_URL}}/04-benefits-of-data-sharing">Benefits of data sharing</a>
          </li>
          <li>
            <a href="/{{PROTOTYPE_URL}}/05-how-opting-out-works">How opting out works</a>
          </li>
          <li>
            <a href="/{{PROTOTYPE_URL}}/06-register-your-preference">Register your preference</a>
          </li>
        </ol>
      </div>
      <div class="column--one-half">
        <h3>App and related pages</h3>
        <p>
          No journey as requested by research team.
        </p>
        <ol>
          <li>
            <a href="/{{PROTOTYPE_URL}}/07-stop-journey">Stop journey</a>
          </li>
        </ol>
      </div>
    </div>

    <h2 id="design-hypotheses">Design hypotheses</h2>
    <div class="grid-row">
      <div class="column--three-quarters">
        <h3>November-December</h3>
        <p>
          In lab 6, users found navigating between pages easier but were unsure which page contained the information they wished to see.
        </p>
        <p>
          <strong>If</strong> we update the page headers to reflect the subjects in the users' own voice <br />
          <strong>then</strong> we will improve navigation <br />
          <strong>because</strong> users will easily be able to find further information that is relevant to them
        </p>
        <hr />
        <p>
          In lab 6, users didn't use the bottom of the page pagination links. Some users on UserZoom used them extensively.
        </p>
        <p>
          <strong>If</strong> we increase the size of the next/prev label and reduce the page title slightly <br />
          <strong>then</strong> users will better understand how to cycle through pages <br />
          <strong>because</strong> users will immediately understand the concept that the bottom of the page link takes them to the next page/topic.
        </p>
        <hr />
        <p>
          In lab 6, users immediately scrolled past the blue banner to explore content, even when tasked with finding other pages.
        </p>
        <p>
          <strong>If</strong> we add the page links to a sidebar<br />
          <strong>then</strong> users will be able to easily navigate between pages<br />
          <strong>because</strong> content will be seperated visually from navigation<br />
        </p>
        <hr />
        <h3>Previous (unproven)</h3>
        <p>
          <strong>If</strong> we add breadcrumbs to the top of each content page, <strong>then</strong> we will improve navigation <strong>because</strong> users will be able to just back to the landing page in one click
        </p>
      </div>
    </div>

    {{ patterns.page_nav( "Prototype F", "https://ndop-f.herokuapp.com/", "", "" ) }}

    </div>
</main>
{% endblock %}
