.inline-list {
  list-style: none;
  padding-left: 0;
}

.inline-list__item {
  @include media(tablet) {
    display: inline;
    margin-top: 0;
  }
}

@include media(tablet) {
  .inline-list--slash {
    .inline-list__item {
      &:after {
        content: "/";
      }

      &:last-child:after {
        content: "";
      }
    }
  }
}

// inline list

.list--inline {

  padding-left: 0;

  li {

    list-style: none;
    display: inline;

    }
  }

  .list--unstyled {

    padding-left: 0;

    li {

      list-style: none;
    }

  }

  .list--breadcrumb {

    padding-left: 0;
    font-size:    18px;

    li {

      list-style: none;
      padding-left: 0;
      display: inline;

      // Ignores first li and makes the second li and on have a > before it
        + li:before {
        content: ">";
        padding: 0 5px;
        color: $black;
      }
    }
  }
