{% set title = 'Overview - Register your preferences for sharing health data' %} {% set content_title = "Overview" %} {% set PROTOTYPE_URL = 'v3'%} {% block scripts %} {% endblock %} {% extends 'layouts/layout.html' %} {% block body %}
<main id="content" class="v3" role="main">
  <div class="page-section">

    <nav aria-label="Breadcrumb">
      <ol class="list--breadcrumb">
        <li><a href="/{{PROTOTYPE_URL}}/">NHS.UK</a></li>
        <li>Register your preferences for sharing health data</li>
      </ol>
    </nav>

    <div class="local-header" id="local-header">
      <h1 class="local-header__title">Register your preferences for sharing health data</h1>
      <div class="local-header__intro">
        <div class="reading-width">
          <div class="grid-row">
            <div class="column--one-half">
              <ol>
                <li>{{content_title}}</li>
                <li>
                  <a href="/{{PROTOTYPE_URL}}/02-who-uses-your-data">Who uses your data</a>
                </li>
                <li>
                  <a href="/{{PROTOTYPE_URL}}/03-how-data-is-kept-secure">How data is kept secure</a>
                </li>
              </ol>
            </div>
            <div class="column--one-half">
              <ol start="4">
                <li>
                  <a href="/{{PROTOTYPE_URL}}/04-benefits-of-data-sharing">Benefits of data sharing</a>
                </li>
                <li>
                  <a href="/{{PROTOTYPE_URL}}/05-how-opting-out-works">How opting out works</a>
                </li>
                <li>
                  <a href="/{{PROTOTYPE_URL}}/06-register-your-preference">Register your preference</a>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section">
    <div class="reading-width">
      <div class="grid-row">
        <div class="column--two-thirds">
          <h2>Overview</h2>
          <p>
            Whenever you visit an NHS service, care professionals must keep records about you. These may be electronic, paper or a mixture of both. Your records contain your health and social care information.
          </p>
          <p>
            The NHS may share this personally identifiable information in two different ways. The first reason for sharing is for your own individual care. This allows healthcare professionals, like doctors and dentists, to see your important medical details.
          </p>
          <p>
            The second reason for sharing is to help the NHS research, plan and improve health and social care services for you and your family.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="marketing-section marketing-section-grey">
    <div class="page-section">
      <div class="reading-width">
        <div class="grid-row">
          <div class="column--two-thirds">
            <h2>Summary of data use</h2>
          </div>
        </div>

        <hr />

        <div class="grid-row">
          <div class="column--one-third">
            <h3 class="marketing-icon-header">Who uses your data?</h3>
            <img class="marketing-icon" src="/images/who-icon.png" alt="who uses your data icon" />
            <p>NHS Digital collects data from a wide variety of NHS trusts, local authorities and independent sector organisations. Certain institutes can request access to this health and care data. </p>
            <hr />
            <a class="button-wire" role="button" href="/{{PROTOTYPE_URL}}/02-who-uses-your-data" title="Find out more about who uses your data">Find out more</a>
          </div>
          <div class="column--one-third">
            <h3 class="marketing-icon-header">How is your data kept secure?</h3>
            <img class="marketing-icon" src="/images/lock-icon.png" alt="how your data is kept secure icon" />
            <p>NHS Digital collects data from a wide variety of NHS trusts, local authorities and independent sector organisations. Certain institutes can request access to this health and care data. </p>
            <hr />
            <a class="button-wire" role="button" href="/{{PROTOTYPE_URL}}/03-how-data-is-kept-secure" title="Find out more about how your data is kept secure">Find out more</a>
          </div>
          <div class="column--one-third">
            <h3 class="marketing-icon-header">What are the benefits of sharing data?</h3>
            <img class="marketing-icon" src="/images/benefits-icon.png" alt="benefits of data sharing icon" />
            <p>Patient data can be used in research to improve treatment for serious illnesses and conditions as well as managing and preparing health and social care services in England. </p>
            <hr />
            <a class="button-wire" role="button" href="/{{PROTOTYPE_URL}}/04-benefits-of-data-sharing" title="Find out more about the benefits of sharing your data">Find out more</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section">
    <div class="reading-width">
      <div class="grid-row">
        <div class="column--two-thirds">
          <h2 id="where-opt-outs-apply">Where does your opt-out apply?</h2>
          <hr />
          <p>
            If you opt-out of sharing your personally identifiable information, details like your name and address will no longer appear in data shared by NHS Digital.
          </p>
          <p>
            There are some circumstances where opt-outs do not apply, and your personally identifiable data will still be used.
          </p>
          <hr />
          <p><a href="/{{PROTOTYPE_URL}}/05-how-opting-out-works" title="Find out more about where opt-outs do and do not apply">Find out more</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="marketing-section marketing-section-grey">
    <div class="page-section">
      <div class="reading-width">
        <div class="grid-row">
          <div class="column--two-thirds">
            <h2>How the opt-out process works</h2>
            <hr />
          </div>
        </div>
        <div class="grid-row">
          <div class="column--one-fifth">
            <h3 class="marketing-icon-header">1. Check your details</h3>
            <img class="marketing-icon" alt="check your details icon" src="/images/verify-icon.png" />
            <p class="marketing-icon-text">You enter your details and we look for your contact details in the NHS England patient database.</p>
          </div>
          <div class="column--one-fifth">
            <img class="next-icon-right" alt="next step indicator" src="/images/next-icon.png" />
          </div>
          <div class="column--one-fifth">
            <h3 class="marketing-icon-header">2. Confirm your identity</h3>
            <img class="marketing-icon" alt="check your details icon" src="/images/verification-method-icon.png" />
            <p class="marketing-icon-text">We send you a verification code to your chosen contact method, which you enter online.</p>
          </div>
          <div class="column--one-fifth">
            <img class="next-icon-right" alt="next step indicator" src="/images/next-icon.png" />
          </div>
          <div class="column--one-fifth">
            <h3 class="marketing-icon-header">3. Set your preferences</h3>
            <img class="marketing-icon" alt="check your details icon" src="/images/choice-icon.png" />
            <p class="marketing-icon-text">You confirm your data sharing preferences, which will be applied within 21 days.</p>
          </div>
        </div>
        <hr />
        <a class="button-wire" role="button" href="/{{PROTOTYPE_URL}}/05-how-opting-out-works.html" title="Find out more about the preference setting process">Find out more</a>
      </div>
    </div>
  </div>

  <div class="page-section">
    <div class="reading-width">
      <div class="grid-row">
        <div class="column--two-thirds">
          <h2>Registering a preference</h2>
          <p>If you do not wish to share your patient data, you can use our online service to request that your personally identifiable information is not used or shared beyond your own individual care. </p>

          <p>
            <a role="button" class="button" title="Start Opt-out Process" href="/{{PROTOTYPE_URL}}/app/index">Start</a>
            <a role="button" class="button button--secondary" title="Start Opt-out Process" href="/{{PROTOTYPE_URL}}/02-who-uses-your-data">Find out more</a>
          </p>
        </div>
      </div>
    </div>
  </div>


</main>
{% endblock %}
