{% set title = 'Overview - Register your preferences for sharing health data' %}
{% set content_title = "Overview" %}
{% set PROTOTYPE_URL = 'v2'%}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" class="v2" role="main">
  <div class="page-section">

  <nav aria-label="Breadcrumb">
    <ol class="list--breadcrumb">
      <li><a href="#">NHS.UK</a></li>
      <li>Register your preferences for sharing health data</li>
    </ol>
  </nav>

    <div class="local-header" id="local-header">
      <h1 class="local-header__title">Register your preferences for sharing health data</h1>
      <div class="local-header__intro">
        <div class="reading-width">
          <div class="grid-row">
            <div class="column--one-half">
              <ol>
                <li>{{content_title}}</li>
                <li>
                  <a href="/{{PROTOTYPE_URL}}/02-who-uses-your-data">Who uses your data</a>
                </li>
                <li>
                  <a href="/{{PROTOTYPE_URL}}/03-how-data-is-kept-secure">How data is kept secure</a>
                </li>
              </ol>
            </div>
            <div class="column--one-half">
              <ol start="4">
                <li>
                  <a href="/{{PROTOTYPE_URL}}/04-benefits-of-data-sharing">Benefits of data sharing</a>
                </li>
                <li>
                  <a href="/{{PROTOTYPE_URL}}/05-how-opting-out-works">How opting out works</a>
                </li>
                <li>
                  <a href="/{{PROTOTYPE_URL}}/06-register-your-preference">Register your preference</a>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="marketing-section top">
    <div class="page-section">
      <div class="reading-width">
        <div class="grid-row">
          <div class="column--one-half">
            <h2 id="overview">1. {{content_title}}</h2>
            <p>
              Whenever you visit an NHS service, care professionals must keep records about you. These may be electronic, paper or a mixture of both. Your records contain your health and social care information.
            </p>
            <p>
              Use this online service to register your preferences for sharing your patient data.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="marketing-section marketing-section-grey">
    <div class="page-section">
      <div class="reading-width">
        <h2 id="how-data-is-kept-secure" class="h3">Who uses your data</h2>
        <hr />
        <div class="grid-row">
          <div class="column--one-half">
            <p>
              the NHS collects data from a wide variety of NHS trusts, local authorities and independent sector organisations.
            </p>
            <p>
              Certain institutes can request access to this health and care data.
            </p>
            <p>
              If released, this information must be used to support the delivery of health and social care services in England. The request will be rejected if this is not the case.
            </p>
            <p>
              Third party marketing or insurance companies will not be given access to your data.
            </p>
          </div>
          <div class="column--one-half">
            <div class="" align="center">
              <img class="image-marketing desktop" src="/images/nodes.png" width="400" alt="" />
            </div>
          </div>
        </div>
        <a role="button" class="button-wire" title="Start Opt-out Process" href="/{{PROTOTYPE_URL}}/02-who-uses-your-data">Find out more</a>
      </div>
    </div>
  </div>

  <div class="marketing-section">
    <div class="page-section">
      <div class="reading-width">
        <h2 id="how-data-is-kept-secure" class="h3">How data is kept secure</h2>
        <hr />
        <div class="grid-row">
          <div class="column--one-half">
            <p>
              The NHS takes the responsibility for protecting your personally identifiable data very seriously. Information Governance (IG) across the NHS ensures your data is looked after in accordance with good practice and the law.
            </p>
            <p>
              If an organisation can’t prove it will look after data to IG standards, their request for access will be rejected.
            </p>
            <p>
              Those who have access to data must have appropriate training.
            </p>
          </div>
          <div class="column--one-half">
            <div class="" align="center">
              <img class="image-marketing desktop" src="/images/padlock.png" width="400" alt="" />
            </div>
          </div>
        </div>
        <a role="button" class="button-wire" title="Start Opt-out Process" href="/{{PROTOTYPE_URL}}/03-how-data-is-kept-secure">Find out more</a>
      </div>
    </div>
  </div>

  <div class="marketing-section marketing-section-grey">
    <div class="page-section">
      <div class="reading-width">
        <h2 id="how-data-is-kept-secure" class="h3">The benefits of data sharing</h2>
        <hr />
        <div class="grid-row">
          <div class="column--one-half">
            <p>
              The NHS may share this personally identifiable information in two different ways. The first reason for sharing is for your own individual care. This allows healthcare professionals, like doctors and dentists, to see your important medical details.
            </p>
            <p>
              The second reason for sharing is to help the NHS research, plan and improve health and social care services for you and your family.
            </p>
            <p>
              This helps the NHS:
            </p>
            <ul>
              <li>
                plan essential facilities like heart units
              </li>
              <li>
                understand the need for specialist care wards
              </li>
              <li>
                research potential cures for life-threatening diseases
              </li>
              <li>
                improve treatment for serious illnesses
              </li>
            </ul>
          </div>
          <div class="column--one-half">
            <div class="" align="center">
              <img class="image-marketing desktop" src="/images/research.png" width="400" alt="" />
            </div>
          </div>
        </div>
        <a role="button" class="button-wire" title="Start Opt-out Process" href="/{{PROTOTYPE_URL}}/04-benefits-of-data-sharing">Find out more</a>
      </div>
    </div>
  </div>

  <div class="marketing-section">
    <div class="page-section">
      <div class="reading-width">
        <h2 id="how-data-is-kept-secure" class="h3">How opting out works</h2>
        <hr />
        <div class="grid-row">
          <div class="column--one-half">
            <img class="image-marketing mobile" src="/images/stack.png" alt="" />
            <p>
              If you opt-out of sharing your personally identifiable information, details like your name and address will no longer appear in data shared by the NHS.
            </p>
            <p>
              This will only happen if opt-outs apply to the data set being shared.
            </p>
            <p>
              Once an opt-out request is received, it can take up to 21 days before it can be applied to future data releases.
            </p>
          </div>
          <div class="column--one-half">
            <div class="" align="center">
              <img width="400" class="image-marketing desktop" src="/images/stack-list.png" alt="" />
            </div>
          </div>
        </div>
        <a role="button" class="button-wire" title="Start Opt-out Process" href="/{{PROTOTYPE_URL}}/app/index">Find out more</a>
      </div>
    </div>
  </div>

  <div class="marketing-section marketing-section-grey">
    <div class="page-section">
      <div class="reading-width">

        <h2 class="h3" id="overview">Register your preference</h2>
        <hr />

        <div class="grid-row">
          <div class="column--one-half">
            <p>
              By sharing your data you can contribute to the health of future generations. However, if you don't agree with sharing your data for secondary purposes, you can opt-out of this.
            </p>
            <p>
              This will not affect your individual care.
            </p>
            <p>
              <a role="button" class="button" title="Start Opt-out Process" href="/{{PROTOTYPE_URL}}/07-stop-journey">Start</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}
