{% set title = 'Overview - Register your preferences for sharing patient health data' %}
{% set PROTOTYPE_URL = 'G'%}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">

  <nav aria-label="Breadcrumb">
    <ol class="list--breadcrumb">
      <li><a href="/{{PROTOTYPE_URL}}/">NHS.UK</a></li>
      <li>Your patient health information</li>
    </ol>
  </nav>

    <div class="local-header">
      <h1 class="local-header__title">Register your preferences for sharing patient health data</h1>
      <div class="local-header__intro">
        <div class="reading-width">
          <div class="grid-row">
            <div class="column--one-half">
              <ol>
                <li>Overview</li>
                <li><a href="/{{PROTOTYPE_URL}}/02-understanding-health-data">Understanding health data</a></li>
                <li><a href="/{{PROTOTYPE_URL}}/03-sharing-your-data">Sharing your data</a></li>
                <li><a href="/{{PROTOTYPE_URL}}/04-benefits-of-data-sharing">Benefits of data sharing</a></li>
              </ol>
            </div>
            <div class="column--one-half">
              <ol start="5">
                <li><a href="/{{PROTOTYPE_URL}}/05-securing-your-information">How data is kept secure</a></li>
                <li><a href="/{{PROTOTYPE_URL}}/06-opting-out">How opting out works</a></li>
                <li><a href="/{{PROTOTYPE_URL}}/07-register-your-preference">Register your preferences</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="page-section">
      <div class="reading-width">
          <div class="grid-row">
            <div class="column--two-thirds">
              <h2 id="overview">1. Overview</h2>
              <p>Your health data is very important to the NHS. It is shared between doctors, hospitals and dentists for reasons linked to your individual care.</p>
              <p>Your personally identifiable information is also shared beyond your individual care for research and planning purposes. This helps to improve health and social care services for you and your family. The NHS depends on this information to plan essential facilities, like heart units and specialist care wards. The data can also be used in research to improve treatment for serious conditions and disease.</p>
              <h2 id="benefits-of-data-sharing">Benefits of data sharing</h2>
            <div class="grid-row">
                  <div class="column--one-third">
                    <div align="center">
                      <a href="/{{PROTOTYPE_URL}}/04-benefits-of-data-sharing">
                        <img src="/images/improve-individual-care.png" height="70" width="auto" alt="">
                      </a>
                      <h4 class="callout-title--muted">Improve individual care</h4>
                    </div>
                  </div>
                  <div class="column--one-third">
                    <div align="center">
                      <a href="/{{PROTOTYPE_URL}}/04-benefits-of-data-sharing">
                        <img src="/images/learn-more.png" height="70" width="auto" alt="">
                      </a>
                      <h4 class="callout-title--muted">Learn more about diseases</h4>
                    </div>
                  </div>
                  <div class="column--one-third">
                    <div align="center">
                      <a href="/{{PROTOTYPE_URL}}/04-benefits-of-data-sharing">
                        <img src="/images/quicker-diagnoses.png" height="70" width="auto" alt="">
                      </a>
                      <h4 class="callout-title--muted">Make quicker diagnoses</h4>
                    </div>
                  </div>
                </div>
                <div class="grid-row">
                  <div class="column--one-third">
                    <div align="center">
                      <a href="/{{PROTOTYPE_URL}}/04-benefits-of-data-sharing">
                        <img src="/images/new-treatments.png" height="70" width="auto" alt="">
                      </a>
                      <h4 class="callout-title--muted">Develop new treatments</h4>
                    </div>
                  </div>

                  <div class="column--one-third">
                    <div align="center">
                      <a href="/{{PROTOTYPE_URL}}/04-benefits-of-data-sharing">
                        <img src="/images/prevent-illness.png" height="70" width="auto" alt="">
                      </a>
                      <h4 class="callout-title--muted">Prevent serious illness</h4>
                    </div>
                  </div>

                  <div class="column--one-third">
                    <div align="center">
                      <a href="/{{PROTOTYPE_URL}}/04-benefits-of-data-sharing">
                        <img src="/images/plan-services.png" height="70" width="auto" alt="">
                      </a>
                      <h4 class="callout-title--muted">Plan NHS health services</h4>
                    </div>
                  </div>
                </div>
                <div class="grid-row">
                  <div class="column--one-third">
                    <div align="center">
                      <a href="/{{PROTOTYPE_URL}}/04-benefits-of-data-sharing">
                        <img src="/images/patient-safety.png" height="70" width="auto" alt="">
                      </a>
                      <h4 class="callout-title--muted">Improve patient safety</h4>
                    </div>
                  </div>
                  <div class="column--one-third">
                    <div align="center">
                      <a href="/{{PROTOTYPE_URL}}/04-benefits-of-data-sharing">
                        <img src="/images/evaluate-policy.png" height="70" width="auto" alt="">
                      </a>
                      <h4 class="callout-title--muted">Evaluate NHS policy</h4>
                    </div>
                  </div>
                  <div class="column--one-third">
                    <div align="center">
                      <a href="/{{PROTOTYPE_URL}}/04-benefits-of-data-sharing">
                        <img src="/images/length-of-stay.png" height="70" width="auto" alt="">
                      </a>
                      <h4 class="callout-title--muted">Reduce length of stay</h4>
                    </div>
                  </div>
                </div>

                <h2 id="registering-your-preference">Registering your preferences</h2>
                <p>You now have the choice to opt-out of sharing your personally identifiable information for purposes beyond your individual care. This means it will not be shared for reasons linked to research or planning.</p>
                <p>Use this online service to register your preferences for sharing your patient data. By sharing your data you can contribute to the health of future generations.</p>
                <p>
                  <a role="button" class="button" title="Start Opt-out Process" href="/{{PROTOTYPE_URL}}/app/index">Start</a>
                </p>
            </div>
          </div>
      </div>
</div>

</main>
{% endblock %}
