{% set title = 'Keeping data secure - Register your preferences for sharing health data' %}
{% set content_title = "Keeping data secure" %}
{% set PROTOTYPE_URL = 'G'%}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">

  <nav aria-label="Breadcrumb">
    <ol class="list--breadcrumb">
      <li><a href="/{{PROTOTYPE_URL}}/">NHS.UK</a></li>
      <li><a href="/{{PROTOTYPE_URL}}/01-overview">Register your preferences for sharing health data</a></li>
      <li>{{content_title}}</li>
    </ol>
  </nav>

    <div class="local-header" id="local-header">
      <h1 class="local-header__title">Register your preferences for sharing health data</h1>
      <div class="local-header__intro">
        <div class="reading-width">
          <div class="grid-row">
            <div class="column--one-half">
              <ol>
                <li>
                  <a href="/{{PROTOTYPE_URL}}/01-overview">Overview</a>
                </li>
                <li>
                  <a href="/{{PROTOTYPE_URL}}/02-understanding-health-data">Understanding health data</a>
                </li>
                <li>
                  <a href="/{{PROTOTYPE_URL}}/03-benefits-of-data-sharing">Benefits of data sharing</a>
                </li>
                <li>
                  <a href="/{{PROTOTYPE_URL}}/04-your-data-our-pledge">Your data our pledge</a>
                </li>
              </ol>
            </div>
            <div class="column--one-half">
              <ol start="5">
                <li>
                  {{content_title}}
                </li>
                <li>
                  <a href="/{{PROTOTYPE_URL}}/06-your-choice-to-opt-out">Your choice to opt-out</a>
                </li>
                <li>
                  <a href="/{{PROTOTYPE_URL}}/07-register-your-preference">Registering your preferences</a>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="page-section">
      <div class="reading-width">
          <div class="grid-row">
            <div class="column--two-thirds">
              <h2 id="how-data-is-kept-secure">5. {{content_title}}</h2>
              <p>
                Health and care services take the responsibility for protecting your personally identifiable data very seriously. Your data is important for your individual care and for improving health and social care services in England.
              </p>
              <h3>Data controllers</h3>
              <p>
                An organisation that collects and uses identifiable information is known as a data controller. Data controllers have a legal duty to take care of your data and provide details of what is being collected. They will only share your information for very specific and reasons that have a legal basis.
              </p>
              <p>
                The law gives you the right to confidentiality under the common-law duty of confidentiality, and protection in the way information about you is handled under the Data Protection Act (1998). You have the right to obtain information from an organisation if you want to know how data about you is stored and used.
              </p>
            </div>
            <div class="column--one-third">

            </div>
          </div>
      </div>
    </div>

    <div class="page-section">
      <div class="reading-width">
        <div class="grid-row">
          <div class="column--two-thirds">
            {{ patterns.page_nav( "Your data our pledge", "/" + PROTOTYPE_URL + "/04-your-data-our-pledge", "Your choice to opt-out", "/" + PROTOTYPE_URL + "/06-your-choice-to-opt-out" ) }}
          </div>
        </div>
      </div>
    </div>
</main>

{% endblock %}
