{% set title = 'How data is kept secure - Register your preferences for sharing patient health data' %}
{% set PROTOTYPE_URL = 'G'%}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">

  <nav aria-label="Breadcrumb">
    <ol class="list--breadcrumb">
      <li><a href="/{{PROTOTYPE_URL}}/">NHS.UK</a></li>
      <li><a href="/{{PROTOTYPE_URL}}/01-overview">Your patient health information</a></li>
      <li>How data is kept secure</li>
    </ol>
  </nav>

    <div class="local-header">
      <h1 class="local-header__title">Register your preferences for sharing patient health data</h1>
      <div class="local-header__intro">
        <div class="reading-width">
          <div class="grid-row">
            <div class="column--one-half">
              <ol>
                <li><a href="/{{PROTOTYPE_URL}}/01-overview">Overview</a></li>
                <li><a href="/{{PROTOTYPE_URL}}/02-understanding-health-data">Understanding health data</a></li>
                <li><a href="/{{PROTOTYPE_URL}}/03-sharing-your-data">Sharing your data</a></li>
                <li><a href="/{{PROTOTYPE_URL}}/04-benefits-of-data-sharing">Benefits of data sharing</a></li>
              </ol>
            </div>
            <div class="column--one-half">
              <ol start="5">
                <li>How data is kept secure</li>
                <li><a href="/{{PROTOTYPE_URL}}/06-opting-out">How opting out works</a></li>
                <li><a href="/{{PROTOTYPE_URL}}/07-register-your-preference">Register your preferences</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="page-section">
      <div class="reading-width">
          <div class="grid-row">
            <div class="column--two-thirds">
              <h2 id="how-data-is-kept-secure">5. How data is kept secure</h2>
              <p>The NHS takes the responsibility for protecting your personally identifiable data very seriously. Your data is important for your individual care and for improving health and social care services in England. To ensure your data is secure:</p>
              <ul>
                <li>Technology is used to restrict access and encrypt data so information can only be read with a code.</li>
                <li>National IT systems are kept up-to-date and relevant to protect against viruses and new cyber threats.</li>
                <li>Audit trails are in place that record every instance that personally identifiable data is viewed or used.</li>
                <li>Anyone accessing data must have appropriate training and be approved by the organisation.</li>
              </ul>
              <h2 id="your-data-our-pledge">Your data – Our pledge</h2>
              <p>When using your data for improving health and care services, we pledge to:</p>
              <div class="panel">
                <div class="panel__content panel__content--half">
                    <div class="reading-width">
                        <ul>
                          <li>Use anonymised data wherever we can</li>
                          <li>Use your personally identifiable data to benefit health and care</li>
                          <li>Use the minimum amount of information where possible e.g. removing your name</li>
                          <li>Give you a choice over sharing your personally identifiable data wherever we can</li>
                          <li>Never use your data for marketing or insurance purposes - unless you specifically request it</li>
                        </ul>
                    </div>
                </div>
                <div class="panel__content panel__content--half">
                  <div class="reading-width">
                    <ul>
                      <li>Respect your decision if you opt-out of sharing your personally identifiable data beyond your individual care</li>
                      <li>Only share your information where allowed by law</li>
                      <li>Only share your information where there has been independent scrutiny and approval</li>
                      <li>Make it clear what we use your data for, who we share it with and the reasons why</li>
                      <li>Take every step to keep your data secure at all times</li>
                    </ul>
                  </div>
                </div>
              </div>
              <h2 id="information-governance">Information Governance</h2>
              <p>Information Governance (IG) across the NHS ensures your data is looked after in accordance with good practice and the law.</p>
              <p>Staff members, suppliers and clients are all updated on a regular basis to ensure they abide by rules and regulations. This applies to the way your information is collected and handled across the NHS. Frequent data sharing audits and annual reviews will ensure your data is being look after appropriately and for the right purposes.</p>
              <p>Requests for data can be rejected if the information will be used for anything other than promoting health and care services in England. If an organisation cannot prove it will look after data to IG standards, the request will also be rejected.</p>

              <ul class="link-list">
                <li><a title="Information Governance (IG) - NHS England" target="_blank" href="https://www.england.nhs.uk/ourwork/tsd/ig/">More information on Information Governance (external website)</a></li>
                <li><a title="Assuring Information - NHS Digital" target="_blank" href="http://content.digital.nhs.uk/article/4979/Assuring-information">More details on looking after health data (external website)</a></li>
              </ul>

            <h2 id="specialist-bodies">Specialist bodies</h2>
            <p>All data requests for identifiable information are reviewed carefully by specialist bodies:</p>
            <h3>Standardisation Committee for Care Information (SCCI)</h3>
            <p>SCCI is run by the National Information Board and it reviews requests for us to collect health information.</p>
            <h3>Independent Group Advising on Release of Data (IGARD)</h3>
            <p>This is an HSCIC (Health and Social Care Information Centre) body with independent members. They look at requests to access health information.</p>
            <h3>Confidentiality Advisory Group</h3>
            <p>This group makes sure that access to information is appropriate and in the public interest.</p>

            <h2 id="secure-IT-systems">Secure IT Systems</h2>
            <p>NHS digital provide secure IT systems for use across the NHS. These secure IT systems meet stringent rules and legal regulations. This ensures we follow good practice when looking after sensitive information.</p>
            <p>Organisations that wish to use NHS Digital IT systems must:</p>
            <ul class="list--check">
              <li>complete the Information Governance toolkit process</li>
              <li>sign the Information Governance assurance statement</li>
              <li>maintain high standards across providers and suppliers</li>
              <li>fulfil the requirements set out in the Information Governance statement of compliance in order to use the NHS N3 national broadband network</li>
            </ul>

            </div>
            <div class="column--one-third">

            </div>
          </div>
      </div>
    </div>
</main>

{% endblock %}
