{% set title = 'Overview - Register your preferences for sharing health data' %}
{% set content_title = "Overview" %}
{% set PROTOTYPE_URL = 'v0'%}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">

  <nav aria-label="Breadcrumb">
    <ol class="list--breadcrumb">
      <li><a href="/{{PROTOTYPE_URL}}/">NHS.UK</a></li>
      <li>Register your preferences for sharing health data</li>
    </ol>
  </nav>

    <div class="local-header" id="local-header">
      <h1 class="local-header__title">Register your preferences for sharing health data</h1>
      <div class="local-header__intro">
        <div class="reading-width">
          <div class="grid-row">
            <div class="column--one-half">
              <ol>
                <li>{{content_title}}</li>
                <li>
                  <a href="/{{PROTOTYPE_URL}}/02-understanding-health-data">Understanding health data</a>
                </li>
                <li>
                  <a href="/{{PROTOTYPE_URL}}/03-benefits-of-data-sharing">Benefits of data sharing</a>
                </li>
                <li>
                  <a href="/{{PROTOTYPE_URL}}/04-your-data-our-pledge">Your data our pledge</a>
                </li>
              </ol>
            </div>
            <div class="column--one-half">
              <ol start="5">
                <li>
                  <a href="/{{PROTOTYPE_URL}}/05-keeping-data-secure">Keeping data secure</a>
                </li>
                <li>
                  <a href="/{{PROTOTYPE_URL}}/06-your-choice-to-opt-out">Your choice to opt-out</a>
                </li>
                <li>
                  <a href="/{{PROTOTYPE_URL}}/07-register-your-preference">Registering your preferences</a>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="page-section">
      <div class="reading-width">
          <div class="grid-row">
            <div class="column--two-thirds">
              <h2 id="overview">1. {{content_title}}</h2>
              <p>
                Your health data is very important to the NHS. It is shared between doctors, hospitals and dentists for reasons linked to your individual care.
              </p>
              <p>
                Your personally identifiable data is also shared beyond your individual care for research and planning purposes. This helps to improve health and social care services for you and your family. The NHS depends on this information to plan essential facilities, like heart units and specialist care wards. The data can also be used in research to improve treatment for serious conditions and disease.
              </p>
              <h3>Registering your preference</h3>
              <p>
                You now have the choice to opt-out of sharing your personally identifiable data for purposes beyond your individual care. This means it will not be shared for reasons linked to research or planning.
              </p>
              <p>
                Use this online service to register your preferences for sharing your patient data. By sharing your data you can contribute to the health of future generations.
              </p>
              <p>
                <a role="button" class="button" title="Start Opt-out Process" href="/{{PROTOTYPE_URL}}/08-stop-journey">Start</a>
              </p>
            </div>
          </div>
      </div>
</div>

<div class="page-section">
  <div class="reading-width">
    {{ patterns.page_nav( "", "", "Understanding health data", "/" + PROTOTYPE_URL + "/02-understanding-health-data" ) }}
  </div>
</div>

</main>
{% endblock %}
